@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background: linear-gradient(to bottom right, darkblue, rgb(127, 208, 255));
  display: flex;
  justify-content: center;
  min-height: 100vh;
}



.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #1A1A40;
  margin-top: 5rem;
  padding: 2rem;
  width: 60%;
  border-radius: .7em;
  margin-left: auto;
  margin-right: auto;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #589bff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 80%;
  height: 50px;
  color: #fff;
  font-size: 1em;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #5885ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  margin-left: 1em;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right top, #5869ff, darkblue);
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #aed4ff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
 




.naglowek {
  animation: shake 7s infinite ;
  transform-origin: center bottom;
  display: block;
}

@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}

.todo-input:focus{
  animation: bounce 1.5s;
}




@keyframes bounce {
  from,
  20%,
  53%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0) scaleY(1.1);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -7px, 0) scaleY(1.05);
  }

  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }

  90% {
    transform: translate3d(0, -2px, 0) scaleY(1.02);
  }
}

.edit-icon:hover , .delete-icon:hover{
animation: heartBeat 1s;
}



@keyframes heartBeat {
  0% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.3);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.3);
  }

  70% {
    transform: scale(1);
  }
}